<body class="html front not-logged-in no-sidebars page-inicio page-panels">
  <div id="page">
    <!--header-->
    <header class="header" id="header" role="banner">
      <a href="/" title="Inicio" rel="home" class="header__logo" id="logo">
        <img src="https://www.unam.mx/sites/all/themes/unam/logo.png" alt="Inicio" class="header__logo-image" />
      </a>
    </header><!--/header-->

    <div id="main">
      <!--#panel de navegación-->
      <div id="navigation">
        <!--nav-->
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <!--boton (margen menor a 800px)-->
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div><!--/boton-->

            <!--.barra de navegación que collapsa-->
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Inicio</a></li>
                <li><%= link_to "Catálogo Cursos", actividads_path %></li>
                <li><a href="/miscursos">Cursos que me interesan</a></li>
                <li><a href="#">Formas de Pago</a></li>
                <li><a href="#">Inscripción</a></li>
                <li><%= link_to "Editar", edit_usuario_registration_path %></li>
                <li><%= link_to "Mi Cuenta", usuario_path(current_usuario.id) %></li>
                <li><%= link_to "Salir", destroy_usuario_session_path, :method => 'delete' %></li>
              </ul>
            </div><!--/.barra de navegación que collapsa-->
          </div><!--/.container-->
        </nav><!--/nav-->
      </div><!--/#panel de navegación-->
      
      ¡Bienvenido <%= @usuario.nombre%>!
    </div>
  </div>
</body>