<h1>AreasEspecializacion#new</h1>

<%= form_for :areas_especializacion, url: areas_especializacion_index_path do |ae| %>
  <p>
    <%= ae.label :id %><br>
    <%= ae.number_field :id %>
  </p>
 
  <p>
    <%= ae.label :area %><br>
    <%= ae.text_field :area %>
  </p>
 
  <p>
    <%= ae.submit %>
  </p>
<% end %>
