<h1>CurriculumVitae#create</h1>
<p>Find me in app/views/curriculum_vitae/create.html.erb</p>

<!-- <% @cv.formacion_academica.each do |formacionacademica| %>
    <%= f.fields_for formacionacademica, index: formacionacademica.id do |fa| %>
      <div id="formacion">
      <div class="field">
        <%= fa.label :area_especialidad %><br>
        <%= fa.text_field :area_especialidad %>
      </div>

      <div class="field">
        <%= fa.label :ultimo_grado %><br>
        <%= fa.text_field :ultimo_grado %>
      </div>

      <div>
        <%= fa.label :año %><br>
        <%= fa.text_field :año %>
      </div>

      <div class="field">
        <%= fa.label :entidad_academica %><br>
        <%= fa.text_field :entidad_academica %>
      </div>
      </div>
    <% end %>
    <% end %>-->

<!-- <% @cv.reconocimiento.each do |reconocim| %>
      <%= f.fields_for reconocim, index: reconocim.id do |re| %>
        <div id="reconocimiento">
          <div class="field">
            <%= re.label :nombre_reconocimiento %><br>
            <%= re.text_field :nombre_reconocimiento %>
          </div>
        </div>
      <% end %>
    <% end %> -->