<body class="html front not-logged-in no-sidebars page-inicio page-panels">
  <div id="page">
    <!--header-->
    <header class="header" id="header" role="banner">
      <a href="/" title="Inicio" rel="home" class="header__logo" id="logo">
        <img src="https://www.unam.mx/sites/all/themes/unam/logo.png" alt="Inicio" class="header__logo-image" />
      </a>
    </header><!--/header-->

    <div id="main">
      <!--#panel de navegación-->
      <div id="navigation">
        <!--nav-->
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <!--boton (margen menor a 800px)-->
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div><!--/boton-->

            <!--.barra de navegación que collapsa-->
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Inicio</a></li>
                <li>
                  
                  <%= link_to "Catálogo Cursos", actividads_path %>
                </li>

                <% if current_ponente -%>
                  <li><%= link_to "Crear Curso", new_actividad_path %></li>
                  <li><a href="#">Mis Cursos</a></li>
                  <% if current_ponente.curriculum_vitae_id-%>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Curriculum Vitae <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to "Ver Curriculum", CurriculumVitae.find(current_ponente.curriculum_vitae_id) %></li>
                        <li><%= link_to "Editar Curriculum", edit_curriculum_vitae_path(current_ponente.curriculum_vitae_id)%></li>
                      </ul>
                    </li>
                  <% else -%>
                    <li><%= link_to "Crear Curriculum", new_curriculum_vitae_path %></li>
                  <% end-%>
                  <li><%= link_to "Mi Cuenta", ponente_path(current_ponente.id) %></li>
                  <li><%= link_to "Salir", destroy_ponente_session_path, :method => 'delete' %></li>
                <% else-%>
                  <% if current_usuario -%>
                    <li><a href="/miscursos">Cursos que me interesan</a></li>
                    <li><a href="#">Formas de Pago</a></li>
                    <li><a href="#">Inscripción</a></li>
                    <li><%= link_to "Editar", edit_usuario_registration_path %></li>
                    <li><%= link_to "Mi Cuenta", usuario_path(current_usuario.id) %></li>
                    <li><%= link_to "Salir", destroy_usuario_session_path, :method => 'delete' %></li>
                  <% else -%>
                    <li><a href="#">Formas de Pago</a></li>
                    <li><a href="#">Inscripción</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Ingresa <span class="caret"></span>
                      </a>
                          
                      <ul class="dropdown-menu">
                        <li><%= link_to "Ponente", new_ponente_session_path %></li>
                        <li><%= link_to "Alumno", new_usuario_session_path %></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Registrate <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><%= link_to "Ponente", new_ponente_registration_path %></li>
                        <li><%= link_to "Alumno", new_usuario_registration_path %></li>
                      </ul>
                    </li>
                    <li><a href="#">Acerca de</a></li>
                  <% end-%>
                <% end -%>
              </ul>
            </div><!--/.barra de navegación que collapsa-->
          </div><!--/.container-->
        </nav><!--/nav-->
      </div><!--/#panel de navegación-->
      <div class="row"><!--se muestran las alertas-->
        <p class="notice"><%= notice %></p><%= alert %>
      </div>
      <div class="hexdots-loader">
        Loading…
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="http://css-spinners.com/css/spinner/hexdots.css" type="text/css">
</body>