<html xmlns="http://www.w3.org/1999/xhtml">


<body>
	<div id="farouter">
		<div id="outer">
			<div id="wrap">
				<div id="headermain">
					<img src="https://www.unam.mx/sites/all/themes/unam/logo.png">
				</div>

				<div id="hmenu">
					<div id="hnav">
						<ul id="navlist">
							<li><a href="index.html">Proximos Cursos</a></li>
							<li><a href="#">Actividades de Curso</a></li>
							<li><a href="#">Cat&aacute;logo de Curso</a></li>
							<li><a href="#">Formas de Pago</a></li>
							<li><a href="" id="active">Solicitud en Linea</a></li>
						</ul>
					</div>
				</div>

				<section>
					<% if flash[:notice].blank? == false %>
    					<p><%= flash[:notice] %></p>
  					<% end %>

  					<%= form_for @actividads, url: {action: "create"}  do |f| %>

						<div id="main">
							<div id="content">
							<div id="nav">
						<h1>Propuesta de un curso</h1>
						<hr>

						<div align="center"> 
							&nbsp;Llene el formato de solicitud. Luego al enviar ser&aacute; puesto a revisi&oacute;n para la aprobaci&oacute;n.</div><br>
						

							<h2 align="center">I.	INFORMACI&Oacute;N PARA LA OPERACI&Oacute;N Y LOG&Iacute;STICA</h2>

							<%= f.label :Nombre %><br>
							&nbsp;&nbsp;

							 <%= f.text_field :nombre, class: "cform", :required => true, :pattern => '^[A-Z][a-z]+(\s[a-z])*+(\s[A-Z][a-z]+)*$'%>
							
							<br><br>

							<%= f.label :Tipo %><br>
							
							<br>
							<%= f.collection_select(:idtipo, Tipo.all, :id, :nombretipo) %>

							
							<br><br>
							<%= f.label :Modalidad %><br>
							&nbsp;&nbsp;
							<%= f.collection_select(:idmodalidad, @modalidad, :id, :nombremodalidad) %>


							
							<br><br>
							 <%= f.label :Fecha_de_inicio %><br>
							  <%= f.date_field :fechainicio, class: "form-control-horizontal", :required => true , max: "1996-12-31"%>

							  &nbsp;&nbsp;&nbsp; 
							  <%= f.label :Fecha_de_fin %><br>
							  <%= f.date_field :fechafinal, class: "form-control-horizontal", :required => true , max: "1996-12-31"%>

							  <br><br>
							

							 <%= f.label :Sede %><br>
							 <%= f.collection_select(:idsede, Sede.all, :id, :nombresede) %>
							
							<br><br>
							 <%= f.label :Aula %><br>
    						<%= f.text_field :aula %>

							 <%= f.label :Numero_de_sesiones %><br>
    						<%= f.number_field :numerosesiones, in: 00001...99999 %>
							
							&nbsp;&nbsp;

							<%= f.label :Numero_de_horas %><br>
    						<%= f.number_field :duracionhoras, in: 00001...99999 %>

							&nbsp;&nbsp;

							
							<%= f.label :Minimo_de_inscritos %><br>
    						<%= f.number_field :cupominimo, in: 00001...99999 %>

							&nbsp;&nbsp;

							<%= f.label :Máximo_de_inscritos %><br>
    						<%= f.number_field :cupomaximo, in: 00001...99999 %>

							&nbsp;&nbsp;<br><br>

							<%= f.label :Costo_publico_general %><br>
    						$<%= f.number_field :costogeneral, in: 00001...99999 %>MXN

							&nbsp;&nbsp;

							
							<%= f.label :Costo_para_alumnos %><br>
    						<%= f.number_field :costoalumnos, in: 00001...99999 %> MXN 

							&nbsp;&nbsp;

							* Pago propuesto a docentes (Por hora): $ <input type="text" name="p_x_hr" size="5" required> MXN<br><br>

							
							<%= f.label :Material_de_apoyo_requerido_para_clases %>:
							<%= f.text_field :materialdidactico, :placeholder => "Proyector, Bocinas, Computadoras, Software especial etc." %>
							
							<br><br>

							<%= f.label :Material_requerido_a_los_alumnos %>
							<%= f.text_field :materialesdealumnos, :placeholder => "Los alumnos deberán llevar memorias USB etc."%>


							<%= f.label :Material_de_apoyo_para_los_alumnos %>
							<%= f.text_field :materialesparaalumnos, :placeholder => "Se les proporcionará a los alumnos carpetas, CD's etc."%>

							<br><br>
		
							<h2 align="center">II. INFORMACI&Oacute;N ACAD&Eacute;MICA</h2>
							<br>

							<div style="position: inherit; float: left; margin-right:10px; ">
							<%= f.label :Descripcion_del_Curso %>:
												
							</div>
							<%= f.text_field :descripcion %>
							<br><br>

							<%= f.label :Objetivo_general %>:
							
							<%= f.text_field :objetivogeneral %>
							<br><br>

							
							<%= f.label :Objetivo_Especifico %>
							<%= f.text_field :objetivoespecifico %>
							<br><br>

							<div style="position: inherit; float: left; margin-right:10px; ">
								<%= f.label :Metas %>
							</div> 
							
							<%= f.text_field :metas %>

							<br><br>

							<!-- aqui va la 2a parte dell gedit-->

							
							
							<br><br>

							

							<br><br>

							<div style="text-align:center;"><input type="submit" value="Enviar Solicitud" style="vertical-align:middle"></div>
							<br>
						
						<br>
						</div>
						</div>
						</div>
						<% end %>
					</section>
					</div>
				</div>
				
			</div>

		
			<div id="clearer">&nbsp;</div>
			<div id="footer">

			</div> <!-- END footer -->
	
</body>
</html>