<header id="header">
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <!-- Application logo -->
        <div class="col-sm-10 col-sm-offset-1" id="headermain">
          <a class="navbar-brand" href="index" id="logo-unam">
            <img src="https://www.unam.mx/sites/all/themes/unam/logo.png">
          </a>
        </div>
      </div>
    </div><!--/.container-->
  </div><!--/.top-bar-->

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Inicio</a></li>
              <li><a href="#">Próximos Cursos</a></li>
              <li><a href="#">Actividades en Curso</a></li>
              <li><a href="#">Catálogo Cursos</a></li>
              <li><a href="#">Acerca de</a></li>
              <li class="active"><%= link_to "Mi Cuenta", ponente_path(current_ponente.id) %></li>
              <li><%= link_to "Salir", destroy_ponente_session_path, :method => 'delete' %></li>
            </ul>
          </div>
        </div>
      </div>
    </div><!--/.container-->
  </nav><!--/nav-->
</header><!--/header-->

<div class="container">
 <section>
          <% if flash[:notice].blank? == false %>
              <p><%= flash[:notice] %></p>
            <% end %>
       
            <div id="main">
              <%= form_for @actividad, :html => {:class => "form-horizontal form-cv"}, url: actividad_index_path do |f| %>
                <div id="content">
                  <div id="nav">
                    <h1>f.nombre</h1>
                      

            
            

                     <h2 align="center">I. INFORMACI&Oacute;N PARA LA OPERACI&Oacute;N Y LOG&Iacute;STICA</h2>

                    <%= f.label :Nombre %><br>
                    &nbsp;&nbsp;
                    <%=@actividad.nombre %>
                          
                    <br><br>
                  </div>  
                </div>  
            </div>      

</div>